h1 {
    padding-left: 10px;
}

section {
    border-bottom: 1px solid red;
    border-left: 1px solid red;
    border-right: 1px solid red;
    padding: 10px;
}

button {
    background-color: rgba(218, 210, 210, 0.8);
    padding: 10px;
    border-radius: 20px;
    cursor: pointer;
    border: 1px solid transparent;
    opacity: 0.3;
    margin: 2px;
}

button:hover{ 
    opacity: 1;
    font-size: 15px;
}

#headerId {
    border: 1px solid red;
    background-color: lightgrey;
    position: sticky;
    top: 0;
    display: flex;
}

aside h3 {
    margin: auto;
    padding-left: 5px;
}

#resetId {
    opacity: 1;
    border-radius: 10px;
    border: 1px solid black;
    margin: auto;
    background-color: blanchedalmond;
}

#total {
    color: red;
}

#completed {
    color: red;
}

p {
    padding-left: 10px;
}

/* 
 * Layout Variation:
 */
 @media screen and (max-width: 550px) {
	/* Specify only what will change */
	#resetId {
        margin-right: 5px;
    }

    h1 {
        font-size: 23px;
    }

    p {
        font-size: 11px;
    }

    h2 {
        font-size: 18px;
    }

    h3 {
        font-size: 14px;
    }
}

